body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.adminDashDisplay{
    margin: 50px auto;
    text-align: center; 
}

.adminTable {
    max-width: 70%;
    margin: 20px auto;
}
.adminHeader{
    background-color: #eb6505;
    text-align: center;
    padding: 10px auto;
    font-size: 42px;
    height: 52px;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    box-shadow: 3px 2px 5px black;
 }

.studentDashDisplay{
    margin: 10px auto;
    text-align: center; 
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.dashBox{
    margin: 5px 10px;
    display: inline-block;
    background-color: rgb(233, 231, 231);
    border-radius: 1%;
    box-shadow: 1px 1px 2px rgb(66, 66, 66);
}

.dashButtons{
    box-shadow: 1px 1px 1px rgb(185, 184, 184);
    font-size: 34px;
    border-radius: 1%;
    height: 60px;
    width: 70%;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 10px 20px 10px;
}

.dashImages{
    font-size: 20px;
    max-height: 340px;
    max-width: 340px;
    padding: 10px 10px;
    margin: 20px 10px 10px 10px;
}

form {
    background-color: #eb6505;
    width: 30%;
    height: 250px;
    margin: 75px auto 10px;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

#formTitle{
    margin: 10px;
}

.heading{
    text-align: center;
    font-size: 44px;
    margin: 10px auto;
}

h3 {
    margin: 0px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    border: 1px black solid;
}

.logout-button {
    margin-top: 10px;
    padding-left: 15px;
}

.logout-text {
    margin: 0px;
    font-size: 16px;
    padding-left: 33px;
}

.log-in, .log-out, .register {
  background-color: #01e8ec;
  border-radius: 4px;
  color: black;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  border: 1px black solid;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

.logo{
    margin: 10px auto;
    max-height: 90px;
    border-radius: 1%;
}

.loginTitle{
    text-align: left;
    height: 110px;
    width: 100%;
    background-color: #eb6505;
}
/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
